.gradle/
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
output-metadata.json
*.aar
*.iml

local.properties

.idea/

*.log
.DS_Store # macOS specific
Thumbs.db # Windows specific

*.jks
*.keystore

google-services.json

*.hprof
